.productsHeading {
  margin-top: 9vmax;
  margin-bottom: 0.5vmax;
  margin-left: auto;
  margin-right: auto;
  width: 10vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.171);
  padding: 1vmax;
  color: rgba(0, 0, 0, 0.678);
  font: 500 1.5vmax "Roboto";
  text-align: center;
}

.products {
  margin-top: 3vmax;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 30vh;
  /* width: 20%; */
}

.paginationBox {
  display: flex;
  justify-content: center;
  margin-top: 20vmax;
  
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 0;
}

.page-item {
  background-color: rgb(255, 255, 255);
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.178);
  padding: 1vmax 1.5vmax;
  transition: all 0.3s;
  cursor: pointer;
}
.page-item:first-child {
  border-radius: 5px 0 0 5px;
}


/* .page-item:last-child {
  border-radius: 0 5px 5px 0;
} */
.page-link {
  text-decoration: none;
  font: 300 1.2vmax "Roboto";
  color: rgb(80, 80, 80);
  transition: all 0.3s;
  font-family:'Times New Roman', Times, serif;
}

.page-item:hover {
  background-color: rgb(230, 230, 230);
}

.page-item:hover .page-link {
  color: rgb(0, 0, 0);
}

.pageItemActive {
  background-color: #2893f1;
}

.pageLinkActive {
  color: white;
}

.filterBox {
  width: 10vmax;
  position: absolute;
  top: 10vmax;
  left: 4vmax;
}

.categoryBox {
  padding: 0%;
}

.category-link {
  list-style: none;
  color: rgba(0, 0, 0, 0.61);
  font: 400 1vmax "Roboto";
  margin: 0.4vmax;
  cursor: pointer;
  transition: all 0.4s;
}
.category-link:hover {
  color: #2893f1;
}

.filterBox > fieldset {
  border: 1px solid rgba(0, 0, 0, 0.329);
  margin-top: 1vmax;
  margin-bottom: 2vmax;
}

.filterBox{
  display: flex;
  flex-direction: row;
  background-color: rgb(253, 203, 212);
  width: 100%;
  position: relative;
  top: 7vmax;
  left: 0%;
  box-sizing: border-box;
  padding: 1vmax;
}
.categoryBox{
  display: flex;
  flex-direction: row;
  padding: .5vmax;
}
.category-link{
  font: 400 1.3vmax "Roboto";
  padding: 0 1vmax;
}
.category-link:hover{
  text-decoration: none;
  color: black;
}


@media screen and (max-width: 600px) {
  .filterBox {
    width: 100%;
    position: static;
    margin: auto;
    
  }
  .categoryBox{
    /* width: 100%; */
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
  }
  .page-link {
    font: 300 1.7vmax "Roboto";
  }
  .category-link {
    font: 400 1.8vmax "Roboto";
  }
}
